<div class="reservation-card-info">
  <img
    src="/assets/images/test.svg"
    alt="Placeholder Image"
    class="reservation-card-img"
  />
  <div>
    <h3 class="reservation-card-name">{{ reservationCardName }}</h3>
    <p class="reservation-card-time">{{ reservationCardTime }}</p>
    <p class="reservation-card-date">07/09/23</p>
  </div>
</div>
<div class="reservation-card-action">
  <button class="button-reservation-detail">
    <svg version="2.0">
      <use href="#fi-rr-search"></use>
    </svg>
    Reservation detail
  </button>

  <div class="reservation-card-action">
    <a class="reservation-detail-buttonlink" href="default.asp" target="_blank">
      <svg _ngcontent-c2="" version="2.0">
        <use _ngcontent-c2="" href="#fi-rr-search">
          </use>
      </svg>
      Reservation detail 
    </a>
  </div>

</div>
